{% extends "xyz/base.html" %}
{% load staticfiles %}
{% block body %}

<header class="">
        <div class="header_wrapper container">
        <a href="index.html" class="logo"><img src="{% static 'frame/img/logo.png'%}" alt="" class="logo_def" width="125" height="39"><img src="{% static 'frame/img/retina/logo.png'%}" alt="" class="logo_retina" width="125" height="39"></a>
           <nav>
                <ul class="menu">
                    <li><a href="/index.html">HOME</a> </li>
                    <li class="current-menu-parent"><a href="/about">ABOUT</a> </li>
                    <li><a href="/masonry">GENERATIONS</a> </li>
                    <li><a href="javascript:void(0)">ARTISTS</a>
                        <ul class="sub-menu">
                              {% for artist in artists %}
                            <li><a href="/artist/{{ artist.id }}"> {{ artist.first_name }} {{ artist.last_name }} </a></li>
                         {% endfor %}

                        </ul>
                    </li>
                    <li>
                        <a href="/grid">GALLERY</a>
                    </li>
                </ul><!-- .menu -->
                <div class="clear"></div>
            </nav>
          </div>
    </header>
    
    <div class="main_wrapper">
        <!-- C O N T E N T -->
        <div class="content_wrapper">
            <div class="container">
                <div class="content_block no-sidebar row">
                    <div class="fl-container span12">
                        <div class="row">
                            <div class="posts-block span12">
                                <div class="contentarea">
                                    
                                    <div class="row-fluid">
                                        <div class="span4 module_cont module_text_area">
                                        	<img alt="" src="http://xyz_project.s3.amazonaws.com/paintings/G2reducido.jpg">
                                        </div>                                    
                                        <div class="span8 module_cont module_text_area">
                                            <h3>Evolving creativity</h3>
                                            <blockquote>
                                                <p>Unplugging Evolutionary Algorithms: On the principles of creativity by means of Artificial Evolution” is an experiment related to develop the Thesis for Master of Research in Engineering and Architecture at University of Extremadura.</p>
                                                <p>This project combines Artistic Expression and Computer Science by applying evolutionary algorithms in order to study the processes that influence artistic creation. We combine different interactive applications to allow images evolve using algorithms. For this project, a group of artists has used a methodology based on Artificial Evolution so as to study the creative process and draw the conclusions which will allow future improvement in generative art-oriented software.</p>
                                              <p>Every week, a group of images was created from the images that had been generated the previous week by means of evolutive processes including crossing and mutation of both the images and motifs shown in the pieces. This methodology has permitted to study the artists’ creativity, interests as well as preferences when choosing their inspiration artworks.
This work shows an experiment which consists in generating images evolved in an artistic context. The result is a joint artwork made by several artists.
During the process, every week, images related to previous works have been created. We have studied the artists’ creativity, their interests and their preferences when choosing the inspiration works.</p>
                                                <p>During this working process, the participants have also created a connection which has made us possible to interact with each other, create mutual influences, recognize our own differentiating personal features as well as perceive the other group members’ technique influences, forms, colours and compositions. Even if some of us never met each other, we felt a sense of complicity in knowing that we were creating a unique, undetachable, self-inspired artwork.
Personally, it has been a great experience, a motivation for continuous creation, as every week we were looking forward to seeing the result and start a new work inspired by the new generation.
I’m very grateful to all the people who have taken part in this project. I’d like to thank them for their dedication because without them this work would not have been possible.
It could become a future Thesis.</p>

                                                <div class="author">Lilian Navarro Moreno</div>
                                            </blockquote>
                                            </div>
                                    </div><!-- .row-fluid -->

                                    <div class="row-fluid">
                                        <div class="span8 module_cont module_text_area">
                                        <div class="bg_title"><h3 class="headInModule">Evolutionary Art</h3></div>
                                            <p>Darwin theory of natural evolution was skeptically received when published in 1859. But it is today, within a neo-darwininan context, a powerful theory that not only explains natural species evolution, but also provides useful ideas to solve hard optimization problems by means of computers.</p>
                                            <p>The well known term Evolutionary Computation encompasses nowadays a number of techniques that were born 40 years ago and that are today more live than ever within scientists’ computers.
But not only optimization problems can be faced by means of Evolutionary Algorithms. Generative Art have find of interest these kind of algorithms. By applying genetic operations within computer algorithms, and with the help of human artists in charge of evaluating aesthetics, evolutionary art has generated multiple silicon-based art works.
Yet, the question whether computers can fully emulate human artists has not been answered. The well known test for Artificial Intelligence, the Turing Tests which tries to test whether computers feature the same intelligent as human beings, can be also applied to art; a Turing Test for Artificial or Evolutionary Art could thus be enunciated: given a computer-artist and a human-artist, can a human being be incapable of deciding when an art work has been generated by the man or the machine?</p>
                                                <p>The present work aims at deepening in the understanding of human creativity. By providing artists with the ideas of Evolutionary Algorithms together with the freedom to apply their creative initiative, we developed an artistic experiment. Human agents -artists- thus apply genetic operations for a number of generations, selecting art-works that act as parents for the next generation. By means of any kind of selection, crossover and mutation their consider of interest, artist generate new art works that will eventually become the parents for the next generation</p>
                                           <p>The experiment has provided not only valuable information in a number of reports where artists explain their inner motivation for every new work together with details on the specific crossover and mutations applied. The experiment has also provided a significant collaborative work, that notably differs from previous Evolutionary Computer-based art work.</p>
                                           <p>We hope this work will influence future research in Evolutionary Art while also providing inspiration for future collaborations among artists with different interests and techniques.</p>
                                            <div class="author">Francisco Fernández de Vega </div>
                                            <ul class="list_type1">
                                                <li>Adipiscing et vitae eros nam tempus ornare bibendum. </li>
                                                <li>Vestibulum fringilla tellus pretium elit dapibus mattis curabitur a odio sedcust pharetra imperdiet.</li>
                                                <li>Donec ultrices dignissim placerat. In hac habitasse platea dictumst. Maecenas massa elit, bibendum vel laoreet sed.</li>
                                                <li>Aenean pulvinar ante tincidunt neque pulvinar vestibulum.</li>
                                            </ul>
                                                               </div>
                                        <div class="span4 module_cont module_text_area">
                                        	<img alt="" src="img/pictures/about2.jpg">
                                        </div>                                        
                                    </div><!-- .row-fluid -->


                                </div><!-- .contentarea -->
                            </div>
                            <div class="left-sidebar-block span3">
                                //Sidebar Text
                            </div><!-- .left-sidebar -->
                        </div>
                        <div class="clear"><!-- ClearFix --></div>
                    </div><!-- .fl-container -->
                    <div class="right-sidebar-block span3">
                        <aside class="sidebar">
                        </aside>
                    </div><!-- .right-sidebar -->
                    <div class="clear"><!-- ClearFix --></div>
                </div>
            </div><!-- .container -->
        </div><!-- .content_wrapper -->
	
    </div><!-- .main_wrapper -->

    <footer>

    </footer>

     <div class="header2top"></div>
{% endblock body %}

{% block scripts %}

{% endblock scripts %}
